#app {
  position: relative;
  
  .header-banner{
    width: 100%;
    height: 24px;
  }
  
  .vh-100{
    min-height: 100vh;
  }
  
  .bg-white-2{
    background: rgba(249,249,249);
  }
  
  .navigation-wrapper{
    border-bottom: 1px solid #ccc;
  }
  .navlist{
    position: relative;
    width: 100px;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 5px;
    color: #000000e0;
    transition: 0.5s ease;
  }
  .navlist:hover{
    font-size: 1.1rem;
    color: #DEA56A;
  }
  .navlist:hover::before{
    position:absolute;
    content: '';
    bottom: -5px;
    left: -6px;
    width: 100px;
    height: 2px;
    background-color: #DEA56A;
  }
  .navlist-active{
    position: relative;
    font-size: 1.1rem;
    color: #DEA56A;
  }
  .navlist-active::before{
    position:absolute;
    content: '';
    bottom: -5px;
    left: -6px;
    width: 100px;
    height: 2px;
    background-color: #DEA56A;
  }

  .v-icon.v-icon::after{
    background-color: #DEA56A;
  }
  .theme--light.v-icon:focus::after {
    opacity: 0.25;
}
  
  .appmenu{
    z-index: 3;
    position: fixed;
    bottom:15px;
    left:50%;
    transform: translateX(-50%);
    width: 80%;
    height:55px;
    border-radius: 3rem;
    
    .applist{
      width: 20%;
      height:100%;
    }
    .v-icon::after {
      background-color: orange;
    }
  }
  
  .topmenu{
    z-index: 3;
    position: fixed;
    top:0px;
    left:0;
    width: 100%;
    height:60px;
    .w-100{
      width: 100%;
    }
  }
  
  
  .menudwr{
    z-index: 2;
    width: 100%;
    max-height: 100%;
    .btnborder{
      background: white;
      border: 1px solid rgb(220, 220, 220);
    }
    .iconcircle{
      background: rgb(240, 240, 240);
      border-radius: 50%;
      color: rgba(0, 0, 0, 0.54);
    }
  }
}