@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;400;500;600;700;900&display=swap');
@import './app.scss';
@import './home.scss';
@import './recipes.scss';
@import './recipecard.scss';
@import './products.scss';
@import './productInfo.scss';
@import './posts.scss';
@import './postinfo.scss';
@import './recipeinfo.scss';
@import './new.scss';
@import './orders.scss';
@import './cart.scss';
@import './checkout.scss';
@import './userpage.scss';
@import './questions.scss';
@import './variables.scss';

body{
  overflow-y: hidden !important;
  font-family: 'Noto Sans TC', sans-serif;
}


// recipes-filter 食譜分類中使用
input[type=checkbox] {
  display: none;
}

div[role=menu] {
  border-radius: 25px !important;
}

.single-line{
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.font-h2{
  font-size: 1.4rem;
  font-weight: 900;
}
.font-h3{
  font-size: 1.2rem;
  font-weight: 700;
}
.font-h4{
  font-size: 1rem;
  font-weight: 700;
}
.font-h5{
  font-size: 0.9rem;
  font-weight: 700;
}
.orangetext{
  color: #DEA56A;
}


.orangebtn{
  border: 1px solid #DEA56A;
  background: #DEA56A !important;
  color: white !important;
}
.orangebtn-border{
  border: 1px solid #DEA56A;
  background: white !important;
  color: #DEA56A !important;
}

.greybtn-border{
  border: 1px solid #c0c0c0;
  background: white !important;
  color: #c0c0c0 !important;
}

.orangebtn:hover{
  background-color: #e0b07d;
}

.imagecard{
  position: relative;
  .btnclose{
    background: rgba(0,0,0,0.8);
  }
  .btnclose:hover{
    background: rgba(0,0,0,0.8);
    border:2px solid white;
  }
}

.font-title{
  font-size: 2rem;
}

.font-subtitle{
  font-size: 1.3rem;
}

.font-link{
  font-size: 1rem;
  color: black;
  font-weight: 700;
  transition: 0.3s ease;
}
.font-link:hover{
  font-size: 1rem;
  color:rgb(141, 141, 141);
}

@media (max-width: 600px) {
  .font-title{
    font-size: 1.5rem;
  }
  
  .font-subtitle{
    font-size: 1.2rem;
  }
  
  .font-link{
    font-size: 1rem;
    color: black;
    font-weight: 500;
  }
}

#app{
  // register, login 頁面共用 btn
  .loginbtn{
    border-color: #DEA56A;
    background-color: #DEA56A;
    color:white;
    font-size: 1.1rem;
    letter-spacing: 0.5rem;
    font-weight: 700;
    min-width: 200px;
  }
  .header-title{
    letter-spacing: 12px;
  }
}


a:-webkit-any-link {
  text-decoration: none;
}

.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  opacity: .5;
  position: absolute;
  width: 100%;
}

