#questions{

}
.panels{
  border-radius: 10px;
}
.panels .panelitem{
  border-radius: 10px;
  font-size: 1rem;
}
.panels .panelitem .paneltitle{
  border-radius: 10px;
  font-size: 1.1rem !important;
  font-weight: 700;
  letter-spacing: 0.3rem;
}